@charset "UTF-8";

@font-face {
  font-family: "Brown";
  font-display: swap;
  src: url("../fonts/Brown-Bold.woff") format("woff"), url("../fonts/Brown-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Brown";
  font-display: swap;
  src: url("../fonts/Brown-Light.woff") format("woff"), url("../fonts/Brown-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Brown";
  font-display: swap;
  src: url("../fonts/Brown-Regular.woff") format("woff"), url("../fonts/Brown-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------Обнуление завершено---------------------*/

.container {
  max-width: 1264px;
  margin: 0px auto;
  padding: 0 15px;
}

body {
  font-family: 'Brown';
  font-weight: 300;
  color: #525f7f;
  font-size: 23px;
  line-height: 32px;
}

.btn {
  padding: 15px 24px 12px 24px;
  background-color: #845cff;
  border-radius: 3px;
  -webkit-box-shadow: -7px 7px 20px rgba(111, 54, 255, 0.2);
          box-shadow: -7px 7px 20px rgba(111, 54, 255, 0.2);
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 46px;
  text-transform: uppercase;
  letter-spacing: 0.01px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #212240;
}

.title {
  color: #32325d;
  font-size: 48px;
  font-weight: 300;
  line-height: 62px;
}

.bg {
  position: relative;
  height: 1250px;
  overflow: hidden;
}

.bg__illustration {
  position: absolute;
  background: url("../img/hero/hero-image.png") center/contain no-repeat;
  top: -150px;
  right: -80px;
  width: 1060px;
  height: 990px;
  z-index: -2;
}

.bg__figure-1 {
  position: absolute;
  background: url("../img/hero/geom-1.png") center/contain no-repeat;
  top: -80px;
  left: 100px;
  width: 875px;
  height: 745px;
  z-index: -3;
}

.bg__figure-2 {
  position: absolute;
  background: url("../img/hero/geom-2.png") center/contain no-repeat;
  top: 745px;
  left: 4px;
  width: 526px;
  height: 482px;
  z-index: -3;
}

.wrap {
  position: absolute;
  width: 100%;
  top: 0;
  overflow: hidden;
}

.header {
  margin-top: 50px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-img {
  cursor: pointer;
}

.header__wrap-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  margin-right: 40px;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item {
  margin-right: 40px;
}

.header__menu-item:last-child {
  margin-right: 0;
}

.header__menu-link {
  color: #32325d;
  font-size: 19px;
  font-weight: 700;
  line-height: 62px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__menu-link:hover {
  color: #9b9ee6;
}

.header__btn {
  line-height: 16px;
}

.hero__inner {
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  max-width: 495px;
}

.hero__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  color: #32325d;
  margin-bottom: 25px;
}

.hero__subtitle {
  max-width: 452px;
  margin-bottom: 42px;
}

.hero__link {
  margin-bottom: 5px;
  margin-left: 34px;
  color: #32325d;
  font-size: 19px;
  font-weight: 400;
  line-height: 39px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.hero__link:hover {
  color: #7173b2;
}

.improve {
  padding-bottom: 50px;
}

.improve__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px -56px;
}

.improve__item-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 56px;
  margin: 0px 0px 60px 0px;
}

.improve__data {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
}

.improve__item {
  padding: 64px 40px 96px 59px;
  -webkit-box-shadow: -7px 7px 20px rgba(212, 212, 250, 0.2);
          box-shadow: -7px 7px 20px rgba(212, 212, 250, 0.2);
  background: #fff;
  border-radius: 10px;
}

.improve__title {
  margin-bottom: 35px;
}

.improve__item-img {
  margin-bottom: 55px;
}

.improve__item-title {
  color: #212240;
  font-size: 30px;
  font-weight: 300;
  line-height: 38px;
  margin-bottom: 30px;
}

.improve__item-text {
  color: #525f7f;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  max-width: 440px;
}

.services {
  background: url("../img/services/bg.png") bottom center no-repeat;
  padding-top: 120px;
  text-align: center;
}

.services__title {
  margin-bottom: 40px;
}

.services__subtitle {
  max-width: 875px;
  margin: 0px auto;
  margin-bottom: 145px;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -30px;
  margin-bottom: 117px;
}

.services__item-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 30px;
  margin-bottom: 170px;
}

.services__item-img {
  margin-bottom: 47px;
}

.services__item-title {
  color: #212240;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 20px;
}

.services__item-text {
  color: #525f7f;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.safety {
  padding-bottom: 200px;
}

.safety__inner {
  position: relative;
}

.safety__title {
  margin-bottom: 40px;
  max-width: 456px;
}

.safety__subtitle {
  margin-bottom: 50px;
  max-width: 490px;
}

.safety__image-img {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 450px;
  width: 650px;
  z-index: -1;
  background: url("../img/safety/bg.png") top center/contain no-repeat;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
  max-width: 500px;
}

.options__left {
  max-width: 200px;
  margin-right: 20px;
}

.options__title {
  display: block;
  color: #32325d;
  font-size: 30px;
  font-weight: 300;
  line-height: 62px;
}

.options__text {
  display: block;
  color: #525f7f;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.options__right {
  max-width: 200px;
}

.move {
  min-height: 600px;
  margin-bottom: 150px;
}

.move__content {
  position: absolute;
  top: 0;
  right: 0;
}

.move__image-img {
  position: absolute;
  top: 0;
  left: -50px;
  min-height: 450px;
  width: 650px;
  z-index: -1;
  background: url("../img/move/bg.png") top center/contain no-repeat;
}

.pilot {
  position: relative;
  padding-top: 50px;
}

.pilot__bg {
  background: url("../img/pilot/bg.png") center/contain no-repeat;
  width: 752px;
  height: 617px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.pilot__title {
  margin-bottom: 40px;
}

.pilot__subtitle {
  margin-bottom: 100px;
  max-width: 658px;
}

.pilot__list-box {
  max-width: 650px;
  padding-right: 30px;
  margin-bottom: 50px;
}

.pilot__list-title {
  color: #32325d;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 40px;
}

.pilot__list-item {
  color: #32325d;
  font-size: 20px;
  font-weight: 300;
  padding-left: 40px;
  background: url("../img/pilot/check.png") left 5px no-repeat;
  margin-bottom: 35px;
}

.pilot__list-box-wrap {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ready {
  background-color: #fafaff;
  padding: 120px 0;
}

.ready__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ready__title {
  margin-bottom: 30px;
}

.ready__search {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.ready__form {
  display: block;
}

.ready__form-input-wrap {
  position: relative;
}

.ready__form-input {
  display: block;
  padding: 5px 200px 5px 40px;
  width: 100%;
  -webkit-box-shadow: -7px 7px 20px rgba(212, 212, 250, 0.2);
          box-shadow: -7px 7px 20px rgba(212, 212, 250, 0.2);
  border-radius: 5px;
  background-color: #ffffff;
  color: #8081ab;
  font-size: 23px;
  font-weight: 300;
  line-height: 66px;
  letter-spacing: 0.02px;
}

.ready__form-btn {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  color: #845cff;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.01px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 50px;
  background: url("../img/ready/btn.svg") right 5px no-repeat;
  padding-right: 30px;
}

.footer {
  background-color: #212240;
  padding: 150px 0 90px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 130px;
}

.footer__logo {
  margin-bottom: 50px;
}

.footer__number {
  display: block;
  opacity: 0.8;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
}

.footer__mail {
  display: block;
  opacity: 0.8;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 40px 0;
}

.footer__social-item {
  margin-right: 25px;
}

.footer__menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu-list {
  padding-right: 30px;
}

.footer__menu-item {
  margin-bottom: 30px;
  line-height: 20px;
}

.footer__menu-item-link {
  color: #bebec6;
  font-size: 16px;
  font-weight: 300;
}

.footer__menu-item-link--2 {
  color: #babac3;
  line-height: 15px;
  font-size: 16px;
  font-weight: 400;
}

.footer__menu-item-link--3 {
  color: #9495a3;
  font-size: 16px;
  font-weight: 300;
}

.footer__bottom-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  color: #555377;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.footer__bottom-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bottom-menu-list-item {
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  margin-right: 40px;
}

.footer__bottom-menu-list-item:last-child {
  margin-right: 0;
}

.footer__bottom-menu-list-item-link {
  color: #555377;
}

.author {
  margin: 0px auto;
  text-align: center;
  opacity: 0.1;
  font-size: 10px;
}

.author:hover {
  opacity: 1;
  font-size: 30px;
}

@media (max-width: 1550px) {
  .bg__illustration {
    left: 40%;
  }
}

@media (max-width: 1140px) {
  .safety__image-img {
    left: 47%;
  }

  .move__image-img {
    left: auto;
    right: 55%;
  }
}

@media (max-width: 1040px) {
  .bg__illustration {
    left: 50%;
  }
}

@media (max-width: 1024px) {
  .services__item-wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    margin-bottom: 100px;
  }
}

@media (max-width: 1000px) {
  .improve__inner {
    margin: 0px -20px;
  }

  .improve__item-wrap {
    padding: 0px 20px;
  }

  .safety__image-img {
    left: 55%;
  }

  .move__image-img {
    left: auto;
    right: 60%;
  }

  .pilot__bg {
    left: 30%;
    opacity: 0.3;
  }
}

@media (max-width: 900px) {
  .header__menu {
    margin-right: 30px;
  }

  .header__menu-item {
    margin-right: 30px;
  }

  .header__menu-item:last-child {
    margin-right: 0;
  }

  .safety {
    padding-bottom: 70px;
  }

  .safety__title {
    margin: 0px auto;
    margin-bottom: 40px;
  }

  .safety__subtitle {
    max-width: 456px;
    margin: 0px auto;
    margin-bottom: 50px;
  }

  .safety__links {
    max-width: 456px;
    margin: 0px auto;
    margin-bottom: 50px;
  }

  .safety__image-img {
    opacity: 0.1;
    left: auto;
    right: -70px;
  }

  .options {
    max-width: 456px;
    margin: 0px auto;
    margin-bottom: 55px;
  }

  .move__content {
    top: auto;
    right: auto;
    width: 100%;
  }

  .move__image-img {
    opacity: 0.1;
    left: -80px;
  }

  .ready__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .ready__subtitle {
    margin-bottom: 70px;
  }

  .ready__search {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 38px;
    line-height: 48px;
  }

  .header__menu {
    display: none;
  }

  .improve__item {
    padding: 42px;
  }

  .services {
    padding-top: 80px;
  }

  .services__subtitle {
    margin-bottom: 80px;
  }

  .pilot__bg {
    left: 20%;
  }

  .footer {
    padding: 90px 0 30px 0;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__contact-inner {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 100px;
  }

  .footer__mail {
    margin: 0;
    margin-bottom: 7px;
  }
}

@media (max-width: 700px) {
  .improve__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .improve__item {
    text-align: center;
  }

  .improve__item-img {
    max-width: 70px;
    margin-bottom: 25px;
  }

  .improve__item-text {
    max-width: 100%;
  }

  .services__item-wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 70px;
  }

  .pilot__list-box-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 650px) {
  .footer__bottom-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 32px;
  }

  .hero__inner {
    height: 550px;
  }

  .hero__title {
    font-size: 35px;
    line-height: 55px;
    margin-bottom: 30px;
  }

  .hero__subtitle {
    font-size: 20px;
    line-height: 25px;
  }

  .hero__link {
    margin-top: 20px;
    display: block;
    margin-left: 0;
  }

  .improve__subtitle {
    font-size: 22px;
  }

  .services {
    padding-top: 0;
  }

  .services__subtitle {
    font-size: 20px;
  }

  .pilot__bg {
    left: -70px;
  }

  .ready__search {
    width: 100%;
  }

  .ready__form-input {
    padding: 5px 40px;
    width: 100%;
  }

  .ready__form-btn {
    position: relative;
    top: auto;
    right: auto;
    display: block;
    margin: 0px auto;
    margin-top: 50px;
  }
}

@media (max-width: 425px) {
  .improve__item {
    padding: 30px 10px;
  }

  .services__item-wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 40px;
  }

  .services__item-img {
    margin-bottom: 20px;
  }

  .footer__content {
    margin-bottom: 50px;
  }

  .footer__contact-inner {
    display: block;
  }

  .footer__mail {
    margin-top: 30px;
  }

  .footer__menus {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__menu-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .footer__menu-list:last-child {
    margin-top: 70px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.webp .bg__illustration{ background: url(../img/hero/hero-image.webp) center/contain no-repeat; }

.webp .bg__figure-1{ background: url(../img/hero/geom-1.webp) center/contain no-repeat; }

.webp .bg__figure-2{ background: url(../img/hero/geom-2.webp) center/contain no-repeat; }

.webp .services{ background: url(../img/services/bg.webp) bottom center no-repeat; }

.webp .safety__image-img{ background: url(../img/safety/bg.webp) top center/contain no-repeat; }

.webp .move__image-img{ background: url(../img/move/bg.webp) top center/contain no-repeat; }

.webp .pilot__bg{ background: url(../img/pilot/bg.webp) center/contain no-repeat; }

.webp .pilot__list-item{ background: url(../img/pilot/check.webp) left 5px no-repeat; }